# NordVPN Credentials
# Get from: https://my.nordaccount.com/dashboard/nordvpn/manual-configuration/
NORDVPN_USER=your_service_username
NORDVPN_PASSWORD=your_access_token

# VPN Configuration
VPN_COUNTRY=Ireland

# DuckDNS Configuration
# Get token from: https://www.duckdns.org/
DUCKDNS_SUBDOMAIN=nshamsiddin
DUCKDNS_TOKEN=your_duckdns_token
DDNS_DOMAIN=nshamsiddin.duckdns.org

# WireGuard Configuration
WIREGUARD_PEERS=phone,laptop

# Timezone
TZ=Europe/Dublin
